body {
    background-image: url("img/pap.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc23ed8;
    padding: 20px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: sticky;
    position: sticky;
    top: 0;
    margin: 0;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #124107b6;
    margin: 0;
    text-align: left;
}

.papaya {
    background-color: rgba(238, 146, 8, 0.4);
    padding: 20px;
    border-radius: 10px;
    border: rgba(238, 146, 8, 0.4) 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#main-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 8px;
    max-height: 100vh;
}
    
#mnjam {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
}

#mnjam video {
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

#img-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    gap: 8px;
    margin-top: 10px;
}
#img-gallery img {
    max-width: 100%;
    max-height: calc(100% / 3 - 5px);
    object-fit: contain;
    width: auto;
}

.dsk {
    background-image: url("img/OIP.webp");
    background-size: contain;
    border: green solid 4px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

#description p {
    margin-left: 5px;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#ingre {
    margin-top: 6px;
    text-align: left;
}

#ingre h3 {
    margin: -16px;
    padding: 0;
    font-size: 25px;
}

#ingre p {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

#jhon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
}
    
#stepgallery     {
    grid-column: span 3 / span 3;
    grid-row: span 7 / span 7;
    grid-column-start: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#stepgallery img {
    max-width: 20%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
        



#steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
}

.step {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    max-height: 150px;
    width: 80%;
}

.step-img {
    max-width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: contain;
}

.step-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

footer {
    background-color: #ffc23ed8;
    padding: 10px 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    #main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 8px;
    }
        
    #mnjam {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
    }

    #description {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        grid-row-start: 4;
    }

    #img-gallery {
        flex-direction: row;
        max-height: 100%;
        width: 100%;
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        grid-row-start: 7;
    }

    #img-gallery img {
        max-width: calc(100% / 3 - 10px);
        max-height: 100%;
    }

    .papaya {
        border: green solid 4px;
    }
        
    
    #description {
    }

    #description p {
        font-size: 16px;
    }

    #ingre h3 p{
        font-size: 20px;
    }


    #jhon {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 8px;
    }
        
    #steps {
        grid-row: span 2 / span 2;
    }

    #stepgallery {
        display: none;
        grid-row: span 3 / span 3;
        grid-row-start: 3;
    }
        
}
